{% extends "base.html.twig" %}

{% block body %}
<main>
    <h2>{% trans %}Gestion de vos données personnelles{% endtrans %}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero diam, rutrum et 
        purus eu, lacinia faucibus lectus. Cras feugiat feugiat nulla, a consequat leo 
        consectetur non. Donec auctor sed dolor ut aliquam. Pellentesque at sem ac mi tempor 
        efficitur. Proin malesuada vulputate congue. Vivamus eros urna, cursus id nulla in, 
        blandit fringilla urna. Nullam egestas, nisi sed vestibulum suscipit, tortor arcu 
        vehicula augue, aliquam laoreet lectus dolor quis sapien. Praesent accumsan, turpis et 
        ornare bibendum, dui felis varius mi, at cursus odio eros id lorem. Duis eu turpis sit 
        amet mi sodales commodo. Mauris varius facilisis suscipit. Vivamus quis ante nunc.</p>

    <p>Ut porta felis at nibh cursus posuere. Nam sit amet dictum dui. Nunc interdum egestas 
        facilisis. Nam id molestie dui, vitae tempor libero. Aenean rhoncus lorem et dolor 
        cursus aliquam. Phasellus sit amet sem tristique, dictum mauris ac, placerat ex. Morbi 
        ut fringilla enim. Ut libero massa, viverra lobortis elit ut, vestibulum imperdiet 
        lacus. Curabitur sed mattis tortor, et dapibus ligula. In nibh diam, facilisis ut arcu 
        eget, tempus placerat nibh. Quisque accumsan vestibulum imperdiet. Sed gravida vehicula 
        orci sit amet luctus. Cras vehicula, nisi in laoreet convallis, tortor ante condimentum 
        nisl, a blandit magna lorem sit amet dolor. Etiam a metus lectus. Pellentesque blandit 
        quam non gravida pharetra. Nullam auctor nisi rutrum nulla sodales, id dapibus erat 
        aliquet.</p>
            
    <p>Praesent posuere sit amet quam non rutrum. Aenean pharetra aliquet sapien. 
        Pellentesque nunc diam, egestas in felis a, interdum semper quam. Cras venenatis felis 
        quis sem convallis, sit amet feugiat odio efficitur. Cras nec erat diam. Phasellus 
        consectetur arcu in justo mollis laoreet. Etiam condimentum consectetur iaculis. 
        Aenean dictum sapien ut lacus ornare accumsan. </p>
            
    <p>Curabitur vel nisi varius lorem eleifend malesuada non vel eros. Phasellus nec volutpat 
        metus, ac molestie lectus. Phasellus ullamcorper diam nec gravida pretium. Sed dignissim 
        lacus et ante venenatis, at eleifend leo feugiat. Vivamus sit amet justo risus. Aenean at 
        sapien odio. Suspendisse potenti.</p>
    <p>Vestibulum sit amet augue libero. Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Nunc vestibulum mi dui, sed commodo eros rutrum imperdiet. Morbi malesuada 
        volutpat ipsum, quis maximus nulla varius quis. Curabitur tristique eu metus et 
        hendrerit. Sed sed finibus libero, sed rutrum libero. Ut vitae accumsan nisi. Morbi 
        condimentum a sem in facilisis. Praesent sed arcu ac nibh faucibus tempus. Mauris felis 
        erat, auctor at tincidunt a, congue vitae justo. Praesent vel augue nibh. Pellentesque 
        sed sapien lacus. Mauris malesuada volutpat diam vel faucibus. Morbi eu enim sed neque 
        ornare cursus id id tortor. Duis tincidunt metus lorem, at dapibus velit tempus sit 
        amet. Integer in tincidunt ante.</p>
</main>
  

{% endblock %}