{% extends "base.html.twig" %}

{% block body %}

    <main>


        <section>

            <article>
                <h2>Info pratique</h2>
                
            </article>

            <aside>
                <h3>Les mots du maire</h3>
                <blockquote><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra ante elit, et laoreet nunc ultrices vitae. Mauris blandit ligula non magna mattis, 
                    sit amet fermentum dui egestas."</p></blockquote>
                <cite>- Robert Molteux, Maire de 2012 à 2017</cite>
                
            </aside>

        </section>
        

        

    </main>

{% endblock %}