{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h2>{{detailEvent.titre}}</h2>

        <p>Date: {{detailEvent.dateEvent|date('d/m/Y')}}<br/>
        {{detailEvent.type}}<br/>
        {{detailEvent.description}}</p>
        {% if detailEvent.inscription == 1 %}
            <p>Une inscription auprès de la mairie est obligatoire</p>
        {% endif%}

    </main>

{% endblock %}