{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h2>Editer l'horaire</h2>
        {{form_start(formModifHeure)}}
            {{form_rest(formModifHeure)}}
            <button type="submit">Enregistrer</button>
        {{form_end(formModifHeure)}}

    </main>

{% endblock %}