{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h1>Contacts Utiles</h1>
        <p>Veuillez remplir les champs suivants</p>

        <form method="post">
            <label>Votre nom</label>
            <input type="text"><br/>
            <label>Votre mail</label>
            <input type="email"><br/>
            <label>Votre téléphone</label>
            <input type="tel"><br/>
            <label>Votre message</label>
            <input type="text"><br/>
        </form>

    </main>

{% endblock %}