{% extends "base.html.twig" %}

{% block body %}

    <main>
        <div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {% if not formContact.vars.valid %}
                <div class="alert alert-danger">Le formulaire n'a pas été rempli correctement</div>
            {% endif %}

            <h2>{% trans %}Contactez nous{% endtrans %}</h2>
            <p>{% trans %}Veuillez remplir les champs suivants{% endtrans %}</p>

            {{form_start(formContact)}}
                {{form_rest(formContact)}}
                <button type="submit" class="btn btn-primary">{% trans %}Envoyer{% endtrans %}</button>
            {{form_end(formContact)}}

        </div>

        <div id="map" style="width: 100%; height: 400px">
            <!--ICI s'affiche la carte-->
        </div>

    </main>

{% endblock %}