{% extends "base.html.twig" %}

{% block body %}

    <main>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% if not formContact.vars.valid %}
            <div class="alert alert-danger">Le formulaire n'a pas été rempli correctement</div>
        {% endif %}

        <h2>Contactez nous</h2>
        <p>Veuillez remplir les champs suivants</p>

        {{form_start(formContact)}}
            {{form_rest(formContact)}}
            <button type="submit">Envoyer</button>
        {{form_end(formContact)}}

    </main>

{% endblock %}