{% extends "base.html.twig" %}

{% block body %}

    <main>
        
        <h1>{{ test.titre }}</h1>
        <p>{{ test.description }}<br/>
        Il reste {{ test.placeRest }} place(s) sur {{ test.nbrePlace }}.</p>
        

    </main>

{% endblock %}