{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h1>Compte Utilisateur</h1>
        <form method="POST">
            <label>Username</label>
            <input type="text" name="_username" required/><br/>
            
            <label>Mot de passe</label>
            <input type="password" name="_password" required/><br/>

            <button type="submit">Connexion</button>

        </form>

    </main>

{% endblock %}